.git
.dockerignore
.byebug_history
log/*
tmp/*
.bundle
public/index.html
public/static
public/svgs
public/fonts
public/webfonts
public/build
.vscode
.github
coverage
node_modules
Dockerfile*
buildspec*
*.md
LICENSE
.env
webapp/.env
.env*
.byebug_history
spec
test
storage
*.dump
